/* XX-Large devices (larger desktops) */
.container {
    width: 1050px;
    margin: auto;
}



/* Large devices (desktops, less than 1200px) */
@media (max-width: 1200px) { 
    .container {
        width: 740px;
    }

    /* Header */

    header .navbar .navbar-content {
        width: 100%;
        justify-content: flex-end;
    }

    header .navbar .navbar-content .navbar-login {
        display: none;
    }

    header .header img {
        height: 495px;
    }

    /* Reviews */

    #reviews .review-cards .card-item:first-child {
        margin-right: 40px;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 768px) { 
    .container {
        width: 100%;
    }

    /* Header */

    header .header {
        flex-direction: column;
        align-items: center;
        margin-top: 0;
        padding-top: 115px;
    }

    header .header img {
        height: 425px;
    }

    header .header .header-content {
        text-align: center;
        width: 100%;
        margin-bottom: 10px;
    }

    header .header .header-content h1 {
        font-weight: 700;
        font-size: 40px;
    }

    header .header .header-content .header-content-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header .header .header-content .header-content-buttons button:first-child {
        margin-right: 0;
        margin-bottom: 15px;
    }

    header .navbar {
        background: var(--dark-background-color);
        padding: 20px;
        flex-direction: column;
        align-items: unset;
        position: fixed;
        width: 100%;
        top: 0;
        box-sizing: border-box;
        z-index: 999;
        box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
    }

    header .navbar .logo .icons {
        display: block;
    }

    header .navbar .navbar-content {
        margin: 0;
        justify-content: center;
        align-items: flex-start;
        overflow: hidden;
        height: 408px;
        transition: height 0.4s ease-in-out;
    }

    #hamburger {
        cursor: pointer;
    }

    .h-0 {
        height: 0 !important;
        transition: height 0.4s ease-in-out;
    }

    header .navbar .navbar-content .navbar-navigation {
        flex-direction: column;
        align-items: center;
        margin: 80px 0 60px 0;
    }

    header .navbar .navbar-content .navbar-navigation li {
        margin-bottom: 20px;
    }

    header .navbar .navbar-content .navbar-navigation a {
        font-size: 30px;
        font-weight: 400;
    }

    header .navbar .navbar-content .navbar-login {
        display: none;
    }

    /* Features */

    #features .description {
        margin-bottom: 75px;
        margin-top: 100px;
    }

    #features .description h2, #features .description p  {
        width: 100%;
    }

    #features .cards {
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    #features .cards .card-item {
        margin-bottom: 30px;
        width: 80%;
    }

    /* Reviews */

    #reviews .review-cards {
        flex-direction: column;
        margin-bottom: 80px;
    }

    #reviews .review-cards .card-item > img {
        display: none;
    }

    #reviews .review-cards .card-item:first-child {
        margin: 0 40px 30px 40px;
    }

    #reviews .review-cards .card-item {
        margin: 0 40px;
    }

    #reviews .description {
        margin: 75px 0 60px 0;
    }

    #reviews .description p {
        width: 100%;
    }
}