@import "./fonts.css";

body {
    display: flex;
    flex-direction: column;
}


/* ========== Header ========== */

header {
    width: 100%;
    background-image: url('../img/header-cover.png');
    background-position: top;
    background-size: cover;
}

.header-filter{
    background-color: rgba(0, 0, 0, 0.5);
}

header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

header .navbar .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .navbar .logo .icons {
    display: none;
}

header .navbar .navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 250px);
    margin-left: 10px;
}

header .navbar .navbar-content .navbar-navigation {
    display: flex;
}

header .navbar .navbar-content .navbar-navigation a {
    font-weight: 600;
    display: inline-block;
    padding: 5px 10px;
}

header .navbar .navbar-content .navbar-login {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

header .navbar .navbar-content .navbar-login .login-button{
    margin-right: 45px;
}

header .navbar .navbar-content .navbar-login .become-a-member{
    padding: 15px 52px 15px 25px;
    position: relative;
}

header .navbar .navbar-content .navbar-login .become-a-member::after{
    content: '';
    position: absolute;
    right: 25px;
    top: calc(50% - 5px);
    display: block;
    background-image: url('../img/arrow-right.svg');
    width: 12px;
    height: 10px;
}

header .header {
    display: flex;
    justify-content: space-between;
    margin-top: 36px;
    align-items: flex-end;
}

header .header > .header-content {
    width: calc(50%);
    margin-bottom: 80px;
}

header .header .header-content h4 {
    margin: 35px 0;
}

header .header .header-content .header-content-buttons button:first-child {
    margin-right: 10px;
}

/* ---------- Header ---------- */

/* ========== Features ========== */

#features {
    background-color: var(--dark-background-color);
}

#features .description {
    margin-top: 160px;
    margin-bottom: 130px;
    text-align: center;
}

#features .description h2 {
    margin: auto;
    margin-bottom: 10px;
    width: 445px;
}

#features .description p {
    margin: auto;
    width: 470px;
}


#features .cards {
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

#features .cards .card-item {
    border-radius: 5px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    width: calc(33.3% - 30px);
    box-sizing: border-box;
}

#features .cards .card-item.light-color {
    background-color: var(--light-gray-1);
    color: var(--text-color)
}

#features .cards .card-item.primary-color {
    background-color: var(--primary-color);
    color: var(--light-text-color)
}

#features .cards .card-item img {
    margin-bottom: 10px;
    width: 50px;
}

#features .cards .card-item * {
    color: inherit;
    margin: auto;
    text-align: center;
}

/* ---------- Features ---------- */

/* ========== Reviews ========== */

#reviews {
    background-color: var(--disabled-element-color);
}

#reviews .description {
    margin: 100px 0 120px 0;
    text-align: center;
}

#reviews .description p {
    margin: 10px auto 0 auto;
    width: 500px;
}

#reviews .review-cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
}

#reviews .review-cards .card-item {
    position: relative;
    background-color: var(--light-background-color);
    color: var(--second-text-color);
    padding: 30px 40px;
    margin-left: 50px;
}

#reviews .review-cards .card-item:first-child {
    margin-right: 90px;
}

#reviews .review-cards .card-item * {
    color: inherit;
    margin: auto;
    text-align: left;
}

#reviews .review-cards .card-item > img {
    position: absolute;
    top: 30px;
    left: -50px;
    width: 72px;
}

#reviews .review-cards .card-item > h3 {
    color: var(--text-color);
}

#reviews .review-cards .card-item > h6 {
    margin-top: 5px;
}

#reviews .review-cards .card-item .stars {
    margin: 15px 0;
}

#reviews .review-cards .card-item .stars img {
    width: 20px;
}

#reviews .review-cards .card-item > p {
    text-align: justify;
}

/* ---------- Reviews ---------- */

/* ========== Clients ========== */

#clients {
    background: var(--dark-background-color);
}

#clients .clients-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 70px 0;
}

#clients .subscription {
    padding: 30px 50px;
    margin-bottom: 20px;
    background: var(--background-gradient-1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#clients .subscription h3 {
    width: 300px;
    margin-right: 20px;
}

#clients .subscription .subscription-input-group {
    background: #F9F9F9;
    padding: 1px;
    border-radius: 5px;
    display: flex;
    height: 60px;
}

#clients .subscription .subscription-input-group input {
    height: 100%;
    width: 350px;
    border: 0;
    background: #F9F9F9;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: var(--text-color);
    padding: 0 20px;
}

#clients .subscription .subscription-input-group button {
    background: var(--primary-color);
    color: var(--light-text-color);
    border-radius: 0 5px 5px 0;
    border: 0;
    height: 100%;
    cursor: pointer;
    padding: 0 22px;
    outline: none;
    transition: box-shadow 0.2s;
}

#clients .subscription .subscription-input-group button:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transition: 0.2s;
}
/* ---------- Clients ---------- */

/* ========== Pricing ========== */

#pricing {
    background: var(--dark-background-color);
    padding: 112px 0;
}

#pricing .description {
    margin-bottom: 80px;
    text-align: center;
}

#pricing .description p {
    width: 470px;
    margin: 10px auto 0 auto;
}

#pricing .pricing-list {
    display: flex;
    justify-content: center;
}

#pricing .pricing-item {
    padding: 50px 30px;
    background: var(--light-background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

#pricing .pricing-item:first-child {
    margin-right: 32px;
}

#pricing .pricing-item > h3 {
    color: var(--text-color);
    margin-bottom: 35px;
}

#pricing .pricing-item > h5 {
    color: var(--second-text-color);
    margin-bottom: 35px;
    text-align: center;
}

#pricing .pricing-item > h5 {
    color: var(--second-text-color);
    margin-bottom: 35px;
}

#pricing .pricing-item .price {
    display: flex;
    margin-bottom: 35px;
    align-items: center;
}

#pricing .pricing-item .price h2 {
    color: var(--primary-color);
    margin-right: 10px;
}

#pricing .pricing-item .price > div {
    display: flex;
    flex-direction: column;
}

#pricing .pricing-item .price h5  {
    color: var(--primary-color);
}

#pricing .pricing-item .price h6 {
    color: var(--disabled-element-color);
}

#pricing .pricing-item .features-list li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

#pricing .pricing-item .features-list li h6 {
    color: var(--text-color);    
}

#pricing .pricing-item .features-list .check-circle {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: var(--muted-color);
}

#pricing .pricing-item .features-list .check-circle.checked {
    background-color: var(--success-color);
}

#pricing .pricing-item .features-list .check-circle .check-icon {
    width: 100%;
    height: 100%;
    display: block;
    background-image: url("../img/check.svg");
    background-repeat: no-repeat;
    background-position: center;
}

#pricing .pricing-item button {
    width: 100%;
    margin-top: 20px;
}





/* ---------- Pricing ---------- */